body {
    background-color: #ffffff;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin: 0;
}

.content {
    padding: 10px 10px 10px 10px;
}


section {
  padding: 20px 0;
}

section > div {
  padding: 14px;
  font-size: 16px;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 0;
}


paper-button {
    margin: 0 0 0 16px;
}

paper-button#submit {
    background: purple;
    color: #fff;
}


/*
#formloading {
    display: none;
}

#formloading.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
*/

paper-spinner {
    width: 100%;
    margin: auto;
}

#formdefault {
    display: none;
}

#formdefault.active {
    display: block;
}

#formerror {
    display: none;
}

#formerror.active {
    display: block;
}

#formsubmitted {
    display: none;
}

#formsubmitted.active {
    display: block;
}
