# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/src/bower_components/
/node_modules/
npm-debug.log

# all files from dist version
/dist/

# all css files from src
/src/**/*.css

# All source maps
/**/*.map

# All bundled js
/**/*.bundle.js

# Test resources bower_components
/src/test-resources/app/bower_components

# Temporary files
/tmp

# Generated documentation
/docs
TODO.md

# OSX stuff
.DS_Storesrc
