@import '../../less/variables.less';
@import '../../bower_components/lesshat/build/lesshat.less';


// TODO: css acho melhor você me explicar o css 
:host {

    display:flex;
    flex-direction: column;
}

#entities-container {

    #general-action-message {
        padding: @base-size;
        font-size: @font-size-2;
        box-sizing: border-box;
        border-top: 1px solid @mediumgrey; 
        border-bottom: 1px solid @mediumgrey;
        display: none;

        p {
            margin: @base-size;
            display: none;
        }
    }
    
    &.associate-entity-mode {
        
        #general-action-message {
            display: block;

            p {
                display: block;
            }
        }
        
        .associate-button-area {
            height: 40px;
            width: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

    } 
}    


#entity {

    .associate-button-area {
        display: none;
    }
    
    &.closed {
        #arrow {
            .rotate(-90deg);
        }
        
        .entity-container {
            max-height: 0;
            transition: all 0s linear 0.2s;

            table, p {
                visibility: hidden;
                margin:0;
            }
            
            * {
                margin: 0;
            }
        }
            
    }
    

    thead {

        font-size: @font-size-3;

        th {
            height: 8 * @base-size;
            padding: 0 @base-size 0 @base-size;
            width: auto;
            min-width: 80px;
            max-width: 104px;
            border-bottom: 1px solid @mediumgrey;
            box-sizing: border-box;
            text-align: left;
            
            p {
                margin: 0;
                color: @secondarytext-color;
                font-weight: @regular;
            }

            &#add-column {
                text-align: center;
                cursor: pointer;
            }


            .associate-property-button {
                display: none;
            }

            &:hover, &.active {
                background-color: @item-panel-background-hover;
                transition: all ease 0.3s;

                iron-autogrow-textarea {
                    background-color: white;
                }

            }


            iron-autogrow-textarea {
                width: 100%;
                border: none;
                overflow: scroll;

            }
            
            iron-icon {
                width: 18px;
                height: 18px;

               &:hover, &.active {
                    transition: all ease 0.3s;
                    cursor: pointer;
                }

            }

        }

    }
    
    #entity-action-message {
        padding: @base-size @base-size 0 @base-size;
        font-size: @font-size-2;
        box-sizing: border-box;
//        border-top: 1px solid @mediumgrey;
//        border-bottom: 1px solid @mediumgrey;
        display: none;
        
        p {
            margin: @base-size;
            display: none;
        }
    }

    #entity-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 5 * @base-size;
        padding-left: @base-size;
        padding-right: @base-size;
        font-size: 13px;

        #arrow {
            width: 16px;
            height: 16px;
            margin-right: 0;
            padding-left: -8;
            transition: all 0.3s ease;
        }

        &:hover, &.active {
            background-color: @item-panel-background-hover;
            transition: all ease 0.3s;
            cursor: pointer;
            border-bottom: 1px solid white;
        }
    }
    
    .table-container {
        overflow-y: hidden;
        max-height:800px;
        transition: max-height 0.2s ease;
        margin: 2*@base-size 0;

    }

    table {
        border-spacing:0;
        margin: 0 2 * @base-size;
        visibility: visible;
        transition: visibility 0s linear 0s;
        border: 1px solid @border-bottom;
    }

    tbody {

        tr {
            max-height: 6 * @base-size;

            &:hover, &.active {
                background-color: @item-panel-background-hover;
                transition: all ease 0.3s;

                iron-autogrow-textarea {
                    background-color: white;
                }

            }


            td {
                font-size: @font-size-2;
                padding: 0 @base-size 0 @base-size;
                width: auto;
                min-width: 88px;
                max-width: 104px;
                height: 5 * @base-size;
                border-bottom: 1px solid @border-bottom;
                box-sizing: border-box;

                iron-icon {
                    width: 18px;
                    height: 18px;
                }
                
                iron-autogrow-textarea {
                    width: 100%;
                    min-height: @base-size*2;
                    border: none;
                    overflow: scroll;
                    padding: 0;
                    margin: @base-size/2 0 @base-size/2 0;
                }
            }
        }
    }
    
    // MODO ENTIDADE ASSOCIADA A COMPONENTE
    &.entity-associated-mode {
        
        #entity-action-message {
            display: block;
            
            #entity-associated-message {
                display: block;
            }
        }
    }
    
    
    //MODO ASSOCIAR COMPONENTE A PROPRIEDADE
    &.associate-property-mode {
    
        th {
            height: 10 * @base-size;
            cursor: pointer;

            &:hover, &.active {
                background-color: @item-panel-background-hover;
                transition: all ease 0.3s;

            }    
            
            .associate-property-button {
                display: block;
                margin: @base-size 0;
            }
        }
        
        #entity-action-message {
            display: block;
           
            #associate-property-message {
                display: block;
            }
        }
    }    
}

.data-alert {
    
    display: none;

    &.active {
        background-color: #F9F0CD;
        padding: @base-size;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;

        p {
            margin: @base-size;
            font-size: @font-size-2;
            box-sizing: border-box;
        }

        iron-icon {
            width: 18px;
            height: 18px;
        }
    }



}


    // deixei o tamanho fixo do box para evitar problemas 
    // com esses paragrafos que estavam aumentando o box. 
    // acho ok. 
    // aí mais para frente, quando o usuário aumentar o box, 
    // ele aumenta e fica fixo no novo tamanho.
