@import '../../less/variables.less';
@import '../../less/shadows.less';
@import '../../bower_components/lesshat/build/lesshat.less';

#carbo-body {
    // section styling
    section {
        display: block;
        position: relative;

        transition: width ease 0.4s, opacity ease 0.4s;
        overflow: hidden;

        &.closed {
            display: none;
        }

        &.disabled {
            opacity: 0.3;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                z-index: 1;

                cursor: pointer;
            }
        }
    }

	// the body of the application should occupy
	// all the available height of the window
	// body.height = window.height - header.height
	position: absolute;
	top: @header-height;
	bottom: 0px;
	left: 0px;
	right: 0px;

	// it has display flex using row (x is the main axis)
	display: flex;
	flex-direction: row;
	// the items within should be distributed with spaces
	justify-content: space-between;
	// the items should occupy all the height of the application body
	align-items: stretch;
	background-color: @background-color;

	#left {
		background-color: @panel-background-color;
		width: @panel-width;

		// no growing nor shrinking
		flex-grow: 0;
		flex-shrink: 0;

		margin-right: 0;
		border-right: solid 1px @border-bottom;
	}

    #workspace {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        flex-grow: 1;

        #middle-bar {

            padding: 0 @base-size;
            height: 6 * @base-size;
            border-bottom: 1px solid @border-bottom;
            background-color: @box-header-background;
            vertical-align: center;
            box-sizing:border-box;
        }

        #middle-area {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            flex-grow: 1;

            #canvas-container {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;


                margin-top: 2 * @base-size;
                margin-bottom: 2 * @base-size;
                margin-left: 2 * @base-size;
                margin-right: @base-size;

                // this container should occupy all space left
                flex-grow: 1;

                #canvas-control {

                    #canvas {
                        height: @phone-proportion * @phone-frame-width;
                        width: @phone-frame-width;

                        border: 3px solid @border-bottom;
                    }
                }
            }

            // #floating-box {
            //     width: @panel-width;

            //     // no growing nor shrinking
            //     flex-grow: 0;
            //     flex-shrink: 0;

            //     margin-top: 2 * @base-size;
            //     margin-bottom: 2 * @base-size;
            //     margin-left: @base-size;
            //     margin-right: 2 * @base-size;

            //     background-color: @panel-background-color;

            //     max-height: 550px;
            // }
            
            #canvas-panel {
                width: @panel-width;

                // no growing nor shrinking
                flex-grow: 0;
                flex-shrink: 0;

                background-color: #F2F2F2;
            }
        }
    }

	#right {

		// no growing nor shrinking
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 0;
		border-left: solid 1px @border-bottom;

		background-color: @panel-background-color;


        //mudar de lugar depois
        overflow: scroll;

        &.style {
            width: @panel-width;
        }

        &.data {

            width: 360px;
//            min-width: 224px;
//            max-width: 448px;

        }
	}
}
