@import '../../less/variables.less';
@import '../../bower_components/lesshat/build/lesshat.less';
:host {

}

.tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

    .component {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        text-align: center;
        padding: 2 * @base-size;
        width: 10 * @base-size;
        height: 10 * @base-size;

        &:hover{
            background-color: @mediumgrey;
                cursor: pointer;
                transition: background-color ease 0.3s;

                &>.component-preview-on-hover {
                    visibility: visible;
                    opacity: 1;
                    transition-delay:0.5s;
                }
        }


        i {
            font-size: 42px;
            margin-bottom: @base-size;
        }

        .component-label {
            height: 30px; //2 * line-height (15px)
            overflow: hidden;
        }
    }
    .component-preview-on-hover {

        visibility: hidden;
        opacity: 0;
        position: absolute;
        .translate(-(2 * @base-size), 2 * @base-size);
        transition: visibility ease 0.3s, opacity 0.5s ease;

        .component-preview-container {

            padding-top: 3 * @base-size;
            padding-right: 3 * @base-size;
            padding-bottom: 3 * @base-size;
            padding-left: 3 * @base-size;

            background-color: @white;
            text-align: left;


            .title {
                font-size: @font-size-4;
                margin-bottom: @base-size;
            }

            .preview-screen {
//                        height: 45 * @base-size;
//                        width: 28 * @base-size;

                background-color: @white;
                width: @phone-frame-width/ 1.5;
                height: @phone-proportion * @phone-frame-width/ 1.5;
                border: solid 1px @mediumgrey;
                box-sizing: border-box; //consider border on height size

            }
            .screen-caption {
                margin-top: @base-size;
            }


        }
    }

    .has-shadow {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .has-shadow-2 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

