@min-screen-height: 768px;
@min-screen-width: 1024px;

@browser-nav-bar: 100px;

@min-application-height: @min-screen-height - @browser-nav-bar;

@base-size: 8px;

// colors wireframe
//@background-color: #EDEDED;
//@white: #FFFFFF;
//@lightgrey: #F2F2F2;
//@mediumgrey: #D2D2D2;
//@grey: #B9B9B9;
//@darkgrey: #6D6D6D;

// colors 1
//@header-background-color: #353535;
@header-background-color: #353535; //~~~~~~~PAT TESTANDO
@header-background-color-hover: #1d1d1b;
@header-icons-color: #969696;
@header-icons-color-hover: #e4e3e3;



//@background-color: #e7e7e7;
@background-color: #F9F9F9; //~~~~~~~PAT TESTANDO


@text-color: #3f3f3f;
@placeholder-text-color: #D2D2D2;

@commands-container: #3f3f3f;

@style-title-color: #848484;

@primary-button: #00ffff;
@secondary-button: #fff;

@box-header-background: #eeeeee;
//@box-bar-background: #e0dede;
@box-bar-background: #D7D7D7; //~~~~~~~PAT TESTANDO

@panel-background-color: #FFFFFF;
@item-panel-background-hover: #eaeaea;
@item-panel-color-hover: #3f3f3f;
@item-border-bottom: #FFF;

@canvas-bar-selected: #e0e0e0;


//@border-bottom: #D3D3D3;
@border-bottom: #e0e0e0; //~~~~~~~PAT TESTANDO
@border-bottom-light: #e0e0e0;

@inactive-bar-icon-color: #969696;
@active-bar-icon-color: #3f3f3f;


@dark-blue: #00dcff;


@white: #FFFFFF;
@lightgrey: #eeeeee;
@mediumgrey: #D2D2D2;
@grey: #B9B9B9;
@darkgrey: #3f3f3f;

// font-sizes
// 10 11 12 14 16 18
//10
@font-size-1: 10px;
//11
@font-size-2: @font-size-1 + 1px;
//12
@font-size-3: @font-size-2 + 1px;
//14
@font-size-4: @font-size-3 + 2px;
//16
@font-size-5: @font-size-4 + 2px;
//18
@font-size-6: @font-size-5 + 2px;

// font-weights:400,700,300
@light: 300;
@regular: 400;
@semibold: 600;
@bold: 700;

@font-family: "Source Sans Pro";

// local variables of panel and header
@panel-width: 224px;

@header-height: 6 * @base-size;

// the base width of the phone frame
@phone-frame-width: 300px;

// proportion of phone Nexus 5
// without buttons bar and status bar
@phone-proportion: 568/360;
