@min-screen-height: 768px;
@min-screen-width: 1024px;

@browser-nav-bar: 100px;

@min-application-height: @min-screen-height - @browser-nav-bar;

@base-size: 8px;

// colors
@background-color: #EDEDED;
@white: #FFFFFF;
@lightgrey: #F2F2F2;
@mediumgrey: #D2D2D2;
@grey: #B9B9B9;
@darkgrey: #6D6D6D;

// font-sizes
// 10 11 12 14 16 18
@font-size-1: 10px;
@font-size-2: @font-size-1 + 1px;
@font-size-3: @font-size-2 + 1px;
@font-size-4: @font-size-3 + 2px;
@font-size-5: @font-size-4 + 2px;
@font-size-6: @font-size-5 + 2px;


// font-weights:400,700,300
@light: 300;
@regular: 400;
@bold: 700;

@font-family: "Source Sans Pro";