@import '../../less/variables.less';
@import '../../bower_components/lesshat/build/lesshat.less';

:host {
    position: relative;

}

#group {
    &.closed {
        #arrow {
            .rotate(-90deg);
        }
        #style-name {
            max-height: 0;
//          overflow: hidden;

            .item-id {
                visibility: hidden;
                transition: visibility 0s linear 0.2s;
            }
        }
    }
}



// TODO: documentation of hoverer
#hoverer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 5 * @base-size;
    left: 0;
    margin: 0;
    .translateY(-100%);
    border-bottom: solid 1px @item-border-bottom;
    box-sizing: border-box;
    //consider border on height size
    &:hover, &.active {
        background-color: @item-panel-background-hover;
        transition: all ease 0.3s;
        cursor: pointer;
    }
}


#group-name {
    position:relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5 * @base-size;
    padding-left: @base-size;
    padding-right: @base-size;

    .item-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        #arrow {
            width: 16px;
            height: 16px;
            margin-right: 0;
            padding-left: - 8;
            transition: all 0.3s ease;
        }

        iron-icon {
            width: 18px;
            height: 18px;
            margin-right: @base-size/2;

        }

    }

    &:hover, &.active {
        cursor: pointer;
        .item-id {
            color: @item-panel-color-hover;
        }
        &+#hoverer {
            background-color: @item-panel-background-hover;
            transition: all ease 0.3s;
            cursor: pointer;
        }
    }
}

#style-name {
    position:relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5 * @base-size;
    padding-left: 3 * @base-size;
    padding-right: @base-size;
    max-height: 800px;
    transition: max-height 0.2s ease;

    .item-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        transition: visibility 0s linear 0s;
        visibility: visible;

        .style-preview {
            height: 3 * @base-size;
            width: 3 * @base-size;
            background-color: forestgreen;
            margin-right: @base-size;
        }

        .style-preview-2 {
            height: 3 * @base-size;
            width: 3 * @base-size;
            background-color: red;
            margin-right: @base-size;
            border-radius: 3px;
            box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

    }

    &:hover, &.active {
        cursor: pointer;
        .item-id {
            color: @item-panel-color-hover;
        }
        &+#hoverer {
            background-color: @item-panel-background-hover;
            transition: all ease 0.3s;
            cursor: pointer;
        }
    }
}

