<carbo-form id="test">
    <form is="iron-form" action="/demo/data.json" method="get">
        <paper-input
            name="campo1"
            label="Campo 1"
            required error-message="Por favor, preencha esse campo"
        ></paper-input>
        <paper-input
            name="campo2"
            label="Campo 2"
            required error-message="Campo obrigatório"
        ></paper-input>
    </form>
    <carbo-form-control>
        <paper-button
            class="purple"
            raised
            action="submit"
        >Enviar</paper-button>
    </carbo-form-control>
    <div state="invalid">
        <paper-toast
            text="Por favor, corrija os campos inválidos"
            show="show"
        ></paper-toast>
    </div>
    <div state="loading">
        <div id="formloading">
            <paper-spinner
                alt="Loading form"
                active
            ></paper-spinner>
            <p>Carregando</p>
        </div>
    </div>
    <div state="error">
        <paper-toast
            text="Erro de envio"
            show="show"
        >
            <span raised action="click:submit">Tentar novamente</span>
        </paper-toast>
    </div>
    <div state="success">
        <paper-toast text="Formulário enviado com sucesso!" show="show"> </paper-toast>
    </div>
</carbo-form>