<carbo-form id="test">
    <form
        is="iron-form"
        action="<%= resourceLocation %>"
        method="post"
        content-type="application/json"
    >
        <paper-input
            name="campo1"
            label="Field 1"
            required error-message="Please fill in this field."
        ></paper-input>
        <paper-input
            name="campo2"
            label="Field 2"
            required error-message="Mandatory field."
        ></paper-input>
    </form>
    <carbo-form-control>
        <paper-button
            class="purple"
            raised
            action="submit"
        >Send</paper-button>
    </carbo-form-control>
    <div state="invalid">
        <paper-toast
            text="Please correct the invalid fields."
            show="show"
        ></paper-toast>
    </div>
    <div state="loading">
        <div id="formloading">
            <paper-spinner
                alt="Loading form"
                active
            ></paper-spinner>
            <p>Carregando</p>
        </div>
    </div>
    <div state="error">
        <paper-toast
            text="Submit error"
            show="show"
        >
            <span raised action="click:submit">Tentar novamente</span>
        </paper-toast>
    </div>
    <div state="success">
        <paper-toast text="Form data successfully submitted!" show="show"> </paper-toast>
    </div>
</carbo-form>
