@import '../../less/variables.less';


#commands-container {
    position: fixed;
    bottom: 0;
    background-color: @commands-container;

    height: @base-size*6;
    width: 360px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;


    button {
        border:none;
        height: @base-size*4;
        text-transform: uppercase;
        background-color: @commands-container;
        margin: 0 @base-size;
        z-index: 2000;

        &:last-child {
            margin-right: @base-size*2;

        }

    }

    #cancel-command {
        color:white;
    }

    #save-command {
        color:aqua;
    }



}
