@import '../../less/variables.less';
@import '../../bower_components/lesshat/build/lesshat.less';
:host {
    // TODO: documentation
    .component {
        .hoverer {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 5 * @base-size;
            left: 0;
            margin: 0;
            .translateY(-100%);
            border-bottom: solid 1px @mediumgrey;
            box-sizing: border-box;
            //consider border on height size
            &:hover, &.active {
                background-color: @mediumgrey;
                transition: all ease 0.3s;
                cursor: pointer;
            }
        }
        .component-itself {
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 5 * @base-size;
            padding-left: @base-size;
            padding-right: @base-size;
            .material-icons {
                font-size: @font-size-6;
            }
            .item-id {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .material-icons {
                    margin-right: @base-size/2;
                }
                .arrow {
                    font-size: @font-size-5;
                    margin-right: 0;
                    padding-left: - @base-size;
                }
            }
            .item-menu {
                display: none;
            }
            &:hover, &.active {
                cursor: pointer;
                .item-menu {
                    display: flex;
                }
                &+.hoverer {
                    background-color: @mediumgrey;
                    transition: all ease 0.3s;
                    cursor: pointer;
                }
            }
        }
        .component-children-container {
            padding-left: @base-size * 2;
            
            overflow: hidden;
            
            height: auto;
            transition: height ease 0.3s;
        }
    }
}