@import '../../less/variables.less';
@import '../../bower_components/lesshat/build/lesshat.less';

:host {
//encontrar uma solução para issoo!!!!!!!!! ainda está identando!!!!
    position: relative;

}

#component {
    &.closed {
        #arrow {
            .rotate(-90deg);
        }
        #component-children-container {
            max-height: 0;
//          overflow: hidden;

            carbo-components-tree {
                visibility: hidden;
                transition: visibility 0s linear 0.2s;

            }
        }
    }
}

#component-children-container {
    padding-left: @base-size * 2;
    overflow-y: hidden;
    max-height: 800px;
    transition: max-height 0.2s ease;

    carbo-components-tree {
        transition: visibility 0s linear 0s;
        visibility: visible;
    }
}


// TODO: documentation of hoverer
#hoverer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 5 * @base-size;
    left: 0;
    margin: 0;
    .translateY(-100%);
    border-bottom: solid 1px @mediumgrey;
    box-sizing: border-box;
    //consider border on height size
    &:hover, &.active {
        background-color: @mediumgrey;
        transition: all ease 0.3s;
        cursor: pointer;
    }
}

#component-itself {
    position:relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5 * @base-size;
    padding-left: @base-size;
    padding-right: @base-size;

    .item-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        #arrow {
            width: 16px;
            height: 16px;
            margin-right: 0;
            padding-left: - 8;
            transition: all 0.3s ease;
        }

        iron-icon {
            width: 18px;
            height: 18px;
            margin-right: @base-size/2;

        }

    }

    .item-menu {
        display: none;

        paper-menu-button {
            padding: 0;
        }

        paper-icon-button {
            margin-right: -8px;
            --iron-icon-height: 18px;
            --iron-icon-width: 18px;
        }

    }
    &:hover, &.active {
        cursor: pointer;
        .item-menu {
            display: flex;
        }
        &+#hoverer {
            background-color: @mediumgrey;
            transition: all ease 0.3s;
            cursor: pointer;
        }
    }
}