:host {
  background-color: #EDEDED;

  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}

.panel {
  max-width: 296px;

  min-width: 224px;
}

#left-panel {
  background-color: aquamarine;
}

#center {
  background-color: burlywood;
  flex-grow: 1;
}

#right-panel {
  background-color: blue;
}