@import '../../less/variables.less';

#bar {
    width: 100%;
    height: 6 * @base-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
//
//    span {
//        margin-right: @base-size;
//    }
//
//    iron-icon {
//        color: @inactive-bar-icon-color;
//
//        &:hover {
//            color: @active-bar-icon-color;
//            cursor: pointer;
//        }
//    }
//
    .icon-container {
        height: 32px;
        width: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {

            background-color: @canvas-bar-selected;
            cursor: pointer;
        }

    }
}

#right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;


    .interaction-mode-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-right: @base-size;

    }

    // .zoom {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     margin-left: @base-size;


    //     &:hover {
    //             color: @active-bar-icon-color;
    //             cursor: pointer;
    //         }
    // }

}


// this is generic enough for the whole bar, thus
// it should not be inside any parent selector
.icon-container {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
//            box-sizing: border-box;
//            border-bottom: solid @border-bottom 1px;
    iron-icon {

        color: @inactive-bar-icon-color;
    }

    &:hover, &.iron-selected, &.active {

        background-color: @canvas-bar-selected;
        cursor: pointer;

        iron-icon {
            color: @active-bar-icon-color;
        }
    }

    &.dropdown {
        width: 48px;
    }

}

iron-icon {
    width: 18px;
    height: 18px;

    &.rotate {
        transform: rotate(90deg);
    }
}
