// Bower components
@import './bower_components/lesshat/build/lesshat.less';

// Basic styles
@import './less/variables.less';
@import './less/shadows.less';
@import './less/reset.less';

// polymer resets
@import './less/polymer-resets/paper-tabs.less';

body {
    background-color: darken(@background-color, 5%);
    font-family: @font-family;
    font-size: @font-size-3;
    color: @text-color;

    #start {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        #new-button {
            display: block;
            height: 50px;
            width: 200px;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            color: @text-color;
            background-color: @grey;

            .transition(background-color ease 0.3s, color ease 0.3s);

            &:hover {
                color: @lightgrey;
                background-color: @text-color;
            }

            .material-icons {
                width: 0;
            }
        }
    }

    #loading {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }



    /**
     * Sets the height and width of the whole application.
     * (html/body is temperamental)
     */
    #container {
        // let position be relative so that
        // carbo-body may calculate it's
        // top, bottom left and right
        // relative to the container instead of the window.
        position: fixed;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        min-width: @min-screen-width;
        min-height: @min-application-height;

        #ide-blocker {
            background: rgb(255, 255, 255);
            background: rgba(255, 255, 255, .0);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 40000;

            visibility: hidden;
        }

        &.loadingcomponent {

            #ide-blocker {
                visibility: visible;

            }
        }


    }

    #canvaswrapper {

        position: relative;

        /**
         * States
         */
        #loading, #error {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            position: absolute;

            z-index: 5000000;

            background: rgb(255, 255, 255);
            background: rgba(255, 255, 255, .9);
            transition:all 1.5s ease;

            opacity:0;
            transition:opacity .5s ease;


            .spinner {
                  width: 40px;
                  height: 40px;
                  background-color: #333;

                  margin: 24px;
                  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
                  animation: sk-rotateplane 1.2s infinite ease-in-out;
                }


                @-webkit-keyframes sk-rotateplane {
                  0% { -webkit-transform: perspective(120px) }
                  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
                  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
                }

                @keyframes sk-rotateplane {
                  0% {
                    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
                  } 50% {
                    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
                  } 100% {
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                  }
                }

        }


        &.loadingcomponent {

            #loading {
                visibility: visible;
                opacity:1;
                transition:all 1.5s ease;

            }
        }

//        &.endloadingcomponent {
//
//            #loading {
//                opacity:0;
//                transition:opacity .5s ease;
//            }
//        }


        &.error {

            #error {
                visibility: visible;
                background-color: red;
                color: white;
            }
        }

//  TO DO - SIMON - O QUE DEVO FAZER COM ISSO?

//        #canvaswrapper[state="hidden"] {
//            display: none;
//        }
//
//        #canvaswrapper[state="shown"] {
//            display: block;
//        }




    }

    // styles for the panel at the right
    #edition-panel {

        paper-tabs {
            height: 6 * @base-size;
            font-size: 13px; //TODO: fazer variavel - demorado - ver antes com luci

            iron-icon, img {
                height: 18px;
                width: 18px;
                margin-right: @base-size;
            }
        }
    }
}

// The nav bar from header

#header-nav {
    display: flex;
    flex-direction: row;

    > a {
        font-size: @font-size-2;
        color: @header-icons-color;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: @header-height;
        width: @header-height + (3 * @base-size);

        transition: all ease 0.3s;

        iron-icon {
            width: 18px;
            height: 18px;
            margin-bottom: @base-size/2;
        }

        &:hover,&.iron-selected {
            cursor: pointer;
            background-color: @header-background-color-hover;
            color: @header-icons-color-hover;
        }
    }
}
