// Bower components
@import './bower_components/lesshat/build/lesshat.less';

// Basic styles
@import './less/variables.less';
@import './less/reset.less';

body {
    background-color: darken(@background-color, 5%);
    font-family: @font-family;
    font-size: @font-size-3;
    color: @darkgrey;

    #start {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #new-button {
            display: block;
            height: 50px;
            width: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            color: @darkgrey;
            background-color: @grey;

            .transition(background-color ease 0.3s, color ease 0.3s);

            &:hover {
                color: @lightgrey;
                background-color: @darkgrey;
            }

            .material-icons {
                width: 0;
            }
        }
    }

    #loading {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    /**
     * Sets the height and width of the whole application.
     * (html/body is temperamental)
     */
    #container {
        // let position be relative so that
        // carbo-body may calculate it's
        // top, bottom left and right
        // relative to the container instead of the window.
        position: relative;

        height: 100%;

        min-width: @min-screen-width;
        min-height: @min-application-height;

        #canvas-control {

            #canvas {
                height: @phone-proportion * @phone-frame-width;
                width: @phone-frame-width;

                border: 3px solid @mediumgrey;
            }

            #control {
                border-top: 1px solid @grey;
                margin-top: 2 * @base-size;
                padding-top: @base-size;
                width: 100%;

                color: @grey;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #control-screen {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-content;
                }
            }
        }
    }
}
